<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Taco Cloud</title>
    </head>

    <body>
    <form method="POST" th:action="@{/orders}" th:object="${order}">
        <h1>Order your taco creations!</h1>

        <img th:src="@{/images/TacoCloud.png}" />
        <a th:href="@{/design}" id="another">Design another taco</a><br/>

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError"
                  style="color:#ff0000">
                Please correct the problems below and resubmit.
            </span>
        </div>

        <h3>Deliver my taco masterpieces to...</h3>
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <span class="validationError"
              style="color:#ff0000"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
        <br/>

        <label for="street">Street address: </label>
        <input type="text" th:field="*{street}" id="street"/>
        <span class="validationError"
              style="color:#ff0000"
              th:if="${#fields.hasErrors('street')}"
              th:errors="*{street}">Street Error</span>
        <br/>

        <label for="city">City: </label>
        <input type="text" th:field="*{city}" id="city"/>
        <span class="validationError"
              style="color:#ff0000"
              th:if="${#fields.hasErrors('city')}"
              th:errors="*{city}">City Error</span>
        <br/>

        <label for="state">State: </label>
        <input type="text" th:field="*{state}" id="state"/>
        <span class="validationError"
              style="color:#ff0000"
              th:if="${#fields.hasErrors('state')}"
              th:errors="*{state}">State Error</span>
        <br/>

        <label for="zip">Zip code: </label>
        <input type="text" th:field="*{zip}" id="zip"/>
        <span class="validationError"
              style="color:#ff0000"
              th:if="${#fields.hasErrors('zip')}"
              th:errors="*{zip}">Zip Error</span>
        <br/>

        <h3>Here's how I'll pay...</h3>
        <label for="ccNumber">Credit Card #: </label>
        <input type="text" th:field="*{ccNumber}" id="ccNumber"/>
        <span class="validationError"
              style="color:#ff0000"
              th:if="${#fields.hasErrors('ccNumber')}"
              th:errors="*{ccNumber}">CC Num Error</span>
        <br/>

        <label for="ccExpiration">Expiration: </label>
        <input type="text" th:field="*{ccExpiration}" id="ccExpiration"/>
        <span class="validationError"
              style="color:#ff0000"
              th:if="${#fields.hasErrors('ccExpiration')}"
              th:errors="*{ccExpiration}">CC Expiration Error</span>
        <br/>

        <label for="ccCVV">CVV: </label>
        <input type="text" th:field="*{ccCVV}" id="ccCVV"/>
        <span class="validationError"
              style="color:#ff0000"
              th:if="${#fields.hasErrors('ccCVV')}"
              th:errors="*{ccCVV}">CC CVV Error</span>
        <br/>

        <input type="submit" value="Submit order"/>
    </form>

    </body>
</html>